select(class='multiselect', data-placebolder='Tags', style='width: 350px', multiple, class='multiselect chzn-select')
	option(value="")
	optgroup(label='Dietary Restrictions')
		if dietary
			each tag in dietary
				option(value=tag.name) #{tag.name}
	optgroup(label='Favorite Flavors')
		if flavors
			each tag in flavors
				option(value=tag.name) #{tag.name}
	optgroup(label='Preferred Cuisines')
		if cuisines
			each tag in cuisines
				option(value=tag.name) #{tag.name}


