//- _parrecipe.jade

div.row-fluid.outlined(name="#{recipe._id}")
	div.span3
		h5 #{recipe.name}
		img.img-rounded(src="#{recipe.image_small}", alt="Not image Avalible")
	div.span9.leftBorder
		h6 Ingredients: 
				each ingredient in recipe.ingredients
					p.inline #{ingredient}, 
		a(href='/recipe/#{recipe._id}')
			button.pull-right.btn.btn-info See Recipe