//- _recipes.jade- search results from database

h2 Everything Left Recipes
if (recipes)
	each recipe in recipes
		div.row-fluid.well(name=recipe._id)
			div.span3
				h5 #{recipe.name}
				if recipe.image_small
					img.img-rounded(src=recipe.image_small)
				else
					img.img-rounded(src='http://upload.wikimedia.org/wikipedia/en/d/d1/Image_not_available.png',style='width: 150px; height:100px')
			div.span9.leftBorder
				h6 Ingredients: 
					if recipe.ingredients
						each ingredient in recipe.ingredients
							p.inline #{ingredient}, 
				a(href='/recipe/#{recipe._id}')
					button.pull-right.btn.btn-info See Full Recipe