//- Page for recipe viewing and editing

extends layout

block content
	div(id="container")
		div(class='page-header')
			h1(style='padding-left: 100px;') #{recipe.name}
		div(class="float-one well")
			div.well.well-dark
				if recipe.image_large
					image(src="#{recipe.image_large}", class='img-rounded')
				else
					button(class='btn btn-large btn primary btn-add-image') Add Image
			div
				h2 Popularity:
					span(class='badge badge-large badge-pop pop-counter') #{recipe.counter}
					input(id="fav", type='button', class="#{recipe._id} inline-block btn btn-large btn-success", value='Favorite')
		div(class="float-one content-right")
			.container.row-fluid
				.container.span8.padded
					table.table.table-striped(class='ingredient-table', style='min-width: 300px; overflow: auto')
						tr
							h4 Ingredients
							th 
						each ingredient in ingredients
							tr
								td #{ingredient}
		hr
		div(class="float-one")
			h2 Description
			if (recipe.url)
				div
					a(href='#{recipe.url}') See Recipe on Original Website
			p #{recipe.description}

block scripts
	script(src='/javascripts/newrecipe.js', type="text/javascript")